<?xml version="1.0"?>
<checkstyle version="1.3.0">
  <file name="Exceptions/BoardingCardsException.php"/>
  <file name="Contracts/GateBoardingCardAttributes.php"/>
  <file name="Logic/SortingBoardingCards.php"/>
  <file name="Contracts/BaggageBoardingCardAttributes.php"/>
  <file name="Tests/SortingBoardingCardsTest.php"/>
  <file name="Contracts/TransportationNumberBoardingCardAttributes.php"/>
  <file name="BoardingCardsTypes/AbstractBoardingCard.php"/>
  <file name="Contracts/GeneralBoardingCardAttributes.php"/>
  <file name="BoardingCardsTypes/BusBoardingCard.php"/>
  <file name="Contracts/SeatableBoardingCardAttributes.php"/>
  <file name="BoardingCardsTypes/FlightBoardingCard.php"/>
  <file name="BoardingCardsTypes/TrainBoardingCard.php"/>
</checkstyle>
